In [25]:
import numpy as np
import pandas as pd

from pandas import DataFrame,Series
df=DataFrame({'key1':['a','a','b','b','a'],
             'key2':['one','two','one','two','one'],
             'data1':np.random.randn(5),
             'data2':np.random.randn(5)})
grouped=df['data1'].groupby(df['key1'])
grouped
means=df['data1'].groupby([df['key1'],df['key2']]).mean()
#means.unstack()

In [14]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -1.465710 -1.616413    a  one
1 -1.111190 -3.064813    a  two
4 -0.723742  0.843034    a  one
b
      data1     data2 key1 key2
2 -0.063828 -0.199918    b  one
3  1.230453 -0.868861    b  two

In [26]:
people=DataFrame(np.random.randn(5,5),columns=['a','b','c','d','e'],index=['Joe','Steve','Wes','Jim','Travis'])
people.loc[2:3,['b','c']]=np.nan
mapping={'a':'red','b':'red','c':'blue','d':'blue','e':'red','f':'orange'}
by_column=people.groupby(mapping,axis=1)
by_column.sum()
people

               a         b         c         d         e
Joe     0.219109  0.410556  0.044240  0.427051  0.117351
Steve   0.413588  0.033161 -0.528061 -0.938455  1.062482
Wes     0.704909       NaN       NaN -0.434416  0.571979
Jim     1.010800  0.260028 -0.424798 -0.192900 -1.556023
Travis -0.654681  0.105890 -1.323759 -0.874888 -0.111814

In [24]:
map_seriies=Series(mapping)
people.groupby(map_seriies,axis=1).sum()

            blue       red
Joe     2.420748  0.382951
Steve   0.249240  0.684016
Wes    -1.006147 -2.928247
Jim     1.206368  0.616622
Travis  0.028371 -1.551470

In [34]:
columns=pd.MultiIndex.from_arrays([['JP','JP','US','JP','JP'],[1,3,5,1,3]],names=['city','tenor'])
hier_df=DataFrame(np.random.randn(4,5),columns=columns)
hier_df.groupby(level='city',axis=1).count()
df

      data1     data2 key1 key2
0 -0.293660  0.506760    a  one
1 -0.401258  1.505185    a  two
2 -1.245265  0.093976    b  one
3  1.263256  1.493199    b  two
4 -0.655892  1.024367    a  one

In [35]:
def peak_to_peak(arr):
    return arr.max()-arr.min()

grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.362232  0.998425
b     2.508521  1.399223

In [36]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.450270  0.186023 -0.655892 -0.528575 -0.401258 -0.347459
b      2.0  0.008996  1.773792 -1.245265 -0.618134  0.008996  0.636126

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a    -0.293660   3.0  1.012104  0.499326  0.506760  0.765563  1.024367
b     1.263256   2.0  0.793587  0.989400  0.093976  0.443782  0.793587


           75%       max
key1
a     1.264776  1.505185
b     1.143393  1.493199

In [33]:
grouped=df.groupby('key1')
grouped

In [45]:
tips=pd.read_csv('./python-project/analysis/pydata/ch08/tips.csv')
tips['tip_pct']=tips['tip']/tips['total_bill']
tips[:5]

   total_bill   tip     sex smoker  day    time  size   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [46]:
grouped=tips.groupby(['sex','smoker'])
group_pct=grouped['tip_pct']
group_pct.agg('mean')

sex     smoker
Female  No        0.156921
        Yes       0.182150
Male    No        0.160669
        Yes       0.152771
Name: tip_pct, dtype: float64

In [48]:
functions=['count','mean','max']
result=grouped['tip_pct','total_bill'].agg(functions)
result

              tip_pct                     total_bill
                count      mean       max      count       mean    max
sex    smoker
Female No          54  0.156921  0.252672         54  18.105185  35.83
       Yes         33  0.182150  0.416667         33  17.977879  44.30
Male   No          97  0.160669  0.291990         97  19.791237  48.33
       Yes         60  0.152771  0.710345         60  22.284500  50.81

In [50]:
k1_means=df.groupby('key1').mean().add_prefix('mean_')
k1_means

      mean_data1  mean_data2
key1
a      -0.450270    1.012104
b       0.008996    0.793587

In [57]:
def top(df,n=5,columns='tip_pct'):
    return df.sort_values(by=columns)[-n:]
top(tips,n=6)
tips.groupby('smoker').apply(top)
tips.groupby(['smoker','day']).apply(top,n=2,columns='total_bill')

                 total_bill    tip     sex smoker   day    time  size  \
smoker day
No     Fri  91        22.49   3.50    Male     No   Fri  Dinner     2
            94        22.75   3.25  Female     No   Fri  Dinner     2
       Sat  59        48.27   6.73    Male     No   Sat  Dinner     4
            212       48.33   9.00    Male     No   Sat  Dinner     4
       Sun  112       38.07   4.00    Male     No   Sun  Dinner     3
            156       48.17   5.00    Male     No   Sun  Dinner     6
       Thur 85        34.83   5.17  Female     No  Thur   Lunch     4
            142       41.19   5.00    Male     No  Thur   Lunch     5
Yes    Fri  90        28.97   3.00    Male    Yes   Fri  Dinner     2
            95        40.17   4.73    Male    Yes   Fri  Dinner     4
       Sat  102       44.30   2.50  Female    Yes   Sat  Dinner     3
            170       50.81  10.00    Male    Yes   Sat  Dinner     3
       Sun  184       40.55   3.00    Male    Yes   Sun  Dinner     2
            182       45.35   3.50    Male    Yes   Sun  Dinner     3
       Thur 83        32.68   5.00    Male    Yes  Thur   Lunch     2
            197       43.11   5.00  Female    Yes  Thur   Lunch     4

                  tip_pct
smoker day
No     Fri  91   0.155625
            94   0.142857
       Sat  59   0.139424
            212  0.186220
       Sun  112  0.105070
            156  0.103799
       Thur 85   0.148435
            142  0.121389
Yes    Fri  90   0.103555
            95   0.117750
       Sat  102  0.056433
            170  0.196812
       Sun  184  0.073983
            182  0.077178
       Thur 83   0.152999
            197  0.115982

In [64]:
frame=DataFrame({'data1':np.random.randn(1000),'data2':np.random.randn(1000)})
factor=pd.cut(frame.data1,4)
factor[:10]

0     (-0.4, 1.237]
1    (-2.037, -0.4]
2     (-0.4, 1.237]
3     (-0.4, 1.237]
4    (-2.037, -0.4]
5     (-0.4, 1.237]
6    (-2.037, -0.4]
7    (-2.037, -0.4]
8     (-0.4, 1.237]
9    (-2.037, -0.4]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.68, -2.037] < (-2.037, -0.4] < (-0.4, 1.237] < (1.237, 2.874]]

In [69]:
def get_stats(group):
    return {'min':group.min(),'max':group.max(),'count':group.count(),'mean':group.mean()}
grouped=frame.data2.groupby(factor)
grouped.apply(get_stats).unstack()

                 count       max      mean       min
data1
(-3.68, -2.037]   17.0  1.083213 -0.512684 -1.879586
(-2.037, -0.4]   306.0  2.495343 -0.021296 -2.844118
(-0.4, 1.237]    561.0  3.030236 -0.001118 -3.349484
(1.237, 2.874]   116.0  2.801772 -0.032977 -2.310961

In [86]:
grouping=pd.qcut(frame.data1,10,labels=False)
grouped=frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.181117 -0.091682 -1.893773
1      100.0  2.495343  0.059875 -2.342509
2      100.0  2.178600 -0.073648 -2.844118
3      100.0  2.324484 -0.065086 -3.063243
4      100.0  2.719765 -0.036064 -1.955325
5      100.0  2.297752 -0.065504 -3.038110
6      100.0  3.030236  0.105811 -3.349484
7      100.0  2.883368 -0.021789 -2.392362
8      100.0  2.476537  0.080160 -2.101299
9      100.0  2.801772 -0.088923 -2.310961

In [102]:
s=Series(np.random.randn(6))
s[::3]=np.nan
s.fillna(s.mean())

0   -0.238646
1   -0.888015
2   -1.006194
3   -0.238646
4    0.605639
5    0.333986
dtype: float64

In [105]:
states=['Ohio','New York','Vermont','Florida','Oregon','Nevada','California',"Idaho"]
group_keys=['East']*4+['West']*4
data=Series(np.random.randn(8),index=states)
fill_mean=lambda g:g.fillna(g.mean())
data.groupby(group_keys).apply(fill_mean)

Ohio          0.303926
New York      0.543065
Vermont       0.121876
Florida      -0.997479
Oregon       -0.439553
Nevada       -1.049350
California    0.689613
Idaho        -0.466790
dtype: float64

In [108]:
fill_values={'East':0.5,'West':-1}
fill_func=lambda g:g.fillna(fill_values[g.name])
data.groupby(group_keys).apply(fill_func)

Ohio          0.303926
New York      0.543065
Vermont       0.121876
Florida      -0.997479
Oregon       -0.439553
Nevada       -1.049350
California    0.689613
Idaho        -0.466790
dtype: float64

In [119]:
suits=['H','S','C','D']
card_val=(list(range(1,11))+[10]*3)*4
base_names=['A']+list(range(2,11))+['J','Q','K']
cards=[]
for suit in ['H','S','C','D']:
    cards.extend(str(num)+suit for num in base_names)
    
deck=Series(card_val,index=cards)
def draw(deck,n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

draw(deck,10)

array([ 6, 40, 22,  7, 34, 24, 41, 12, 16, 18, 13,  1, 19, 30, 17, 20, 14,
        3, 32,  0, 44,  5, 47, 46, 28, 45, 15, 37, 11, 29, 51, 21, 36, 27,
        4, 38, 10,  9, 26, 43, 48, 23, 33, 50, 25, 35, 31, 39, 49,  8, 42,
        2])

In [126]:
df=DataFrame({'category':['a','a','a','a','b','b','b','b'],
             'data':np.random.randn(8),
             'weights':np.random.rand(8)})
grouped=df.groupby('category')
get_wavg=lambda g:np.average(g['data'],weights=g['weights'])
grouped.apply(get_wavg)

category
a   -0.159708
b   -0.414652
dtype: float64

In [142]:
close_px=pd.read_csv('./python-project/pydata/ch09/stock_px.csv',parse_dates=True,index_col=0)
rets=close_px.pct_change().dropna()
spx_corr=lambda x:x.corrwith(x['SPX'])
by_year=rets.groupby(lambda x :x.year)
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [145]:
import statsmodels.api as sm
def regress(data,yvar,xvars):
    Y=data[yvar]
    X=data[xvars]
    X['intercept']=1.
    result=sm.OLS(Y,X).fit()
    return result.params
by_year.apply(regress,'AAPL',['SPX'])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514